<div class="navbar navbar-lewagon sticky-top">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="/">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
      </a>
      <a href="/lists">Movie Lists</a>
    </div>

    <button type="button" class="btn-red" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add a new list
    </button>
  </div>
</div>
